<div class="widget-wrap">
    <h3 class="widget-title">
      Affiliations
    </h3>
    <div class="non-widget">
        <ul>
            <li>
                <a href="https://www.corelan.be/">
                  <img src="/images/corelanlogotext.png" width="180" />
                </a>
            </li>
            <li>
                <a href="https://www.metasploit.com/">
                  <img src="/images/metasploit-logo.png" width="180" />
                </a>
            </li>
        </ul>
    </div>
</div>
