<div class="widget-wrap">
    <h3 class="widget-title">
      Certifications
    </h3>
    <div class="non-widget">
        <ul>
            <li>
                <a href="http://www.offensive-security.com/information-security-certifications/oscp-offensive-security-certified-professional/">
                  <img src="/images/oscp.png" />
                </a>
            </li>
            <li>
                <a href="http://www.offensive-security.com/information-security-certifications/oscp-offensive-security-certified-expert/">
                  <img src="/images/osce.png" />
                </a>
            </li>
        </ul>
    </div>
</div>
